<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div class="form-group">
    <input
      type="text"
      name="username"
      id="username-input"
      class="form-control"
      [(ngModel)]="model.username"
      placeholder="username"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      name="password"
      id="password-input"
      class="form-control"
      [(ngModel)]="model.password"
      placeholder="password"
    />
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-default mr-2" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
